<ol>
  {{#each items as |item|}}
    <li class="{{if item.selected 'selected'}}">
      {{item.name}}
    </li>
  {{/each}}
</ol>

<button type="button" name="button" class="my-btn">Some Button</button>
